* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans';
}

html, body {
  width: 100%;
  height: 100%;
}

.game-container {
  position: relative;
  --pad: #00ffbf;
  width: 100%;
  height: 100%;
}

.game-container .top {
  width: 100%;
  height: 12%;
  background: var(--topColor);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.game-container .top .content-div {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.game-container .top .content-div .logo-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

.game-container .top .content-div .logo-div .logo {
  font-weight: 500;
  font-size: 23px;
  line-height: 25px;
}

.game-container .top .content-div .logo-div .tag {
  font-weight: 500;
  font-size: 13px;
  line-height: 10px;
  color: #929292;
}

.game-container .top .content-div .logo-div .tag .pad {
  color: var(--pad);
}

.game-container .top .content-div .actions-div {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-container .top::after {
  content: var(--content);
  position: absolute;
  width: 100%;
  height: 50px;
  background: red;
}

.game-container .game-body {
  width: 100%;
  height: 88%;
  background: var(--gameBgColor);
}

.game-container .game-body .score-div {
  width: 100%;
  height: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-container .game-body .score-div .score-cont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game-container .game-body .score-div .score-cont .score-box {
  border-radius: 5px;
  padding: 0 10px;
  margin: 0 5px;
  height: 50px;
  background: var(--primCol);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.game-container .game-body .score-div .score-cont .score-box .sc-txt {
  font-size: 10px;
  font-weight: 400;
}

.game-container .game-body .score-div .score-cont .score-box .sc-num {
  font-size: 23px;
  font-weight: 500;
  line-height: 27px;
}

.game-container .game-body .tile-board-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game-container .game-body .tile-board-div .tile-board {
  --screenSize: 300px;
  --grid: 3;
  --padGap: 6px;
  --font: 92px;
  width: var(--screenSize);
  height: var(--screenSize);
  background: var(--primCol);
  border-radius: 3px;
  display: -ms-grid;
  display: grid;
  padding: var(--padGap);
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--grid), 1fr);
  -ms-grid-rows: (1fr)[var];
      grid-template-rows: repeat(var(--grid), 1fr);
  grid-gap: var(--padGap);
}

.game-container .game-body .tile-board-div .tile-board .tile-cell {
  width: 100%;
  height: 100%;
  background: var(--tileCell);
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.game-container .game-body .tile-board-div .tile-board .tile-cell .tile {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(var(--font) / 2.5);
  font-weight: bold;
  color: #fff;
}

.game-container .modals {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 250px;
  height: 125px;
  background: #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.game-container .modals .modal-txt {
  font-size: 15px;
}

.game-container .modals .modal-actions {
  margin-top: 10px;
}

.game-container .modals .modal-actions button {
  width: 75px;
  height: 35.5px;
  margin: 5px 0;
  border: 1px solid #ccc9c9;
  border-radius: 4px;
  background: #00575f;
  color: #fff;
  font-size: 13px;
  outline: none;
}

.settings-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.settings-div .save-settings {
  width: 80px;
  height: 40px;
  margin: 5px 0;
  border: 1px solid #ccc9c9;
  border-radius: 4px;
  background: #00575f;
  color: #fff;
  font-size: 17px;
  outline: none;
}

.settings-div .settings-panel {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.settings-div .settings-panel .panels {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  padding-top: 10px;
  border-top: 1px solid #ccc9c9;
}

.settings-div .settings-panel .panels .panel-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ccc9c9;
  width: 100%;
}

.settings-div .settings-panel .panels .size-option, .settings-div .settings-panel .panels .theme-option {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 10px;
  font-size: 15px;
}

.settings-div .settings-panel .panels .size-option .check-box-size, .settings-div .settings-panel .panels .size-option .check-box-theme, .settings-div .settings-panel .panels .theme-option .check-box-size, .settings-div .settings-panel .panels .theme-option .check-box-theme {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #000;
  margin-right: 10px;
  position: relative;
}

.settings-div .settings-panel .theme {
  border-right: 1px solid #ccc9c9;
}

.size-option-selected::before, .theme-option-selected::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: #00575f;
  border-radius: 50%;
}

.tile-2 {
  background: #8c00da;
}

.tile-4 {
  background: #ed124b;
}

.tile-8 {
  background: #f28c0d;
}

.tile-16 {
  background: #00950d;
}

.tile-32 {
  background: #00575f;
}

.tile-64 {
  background: #f60023;
}

.tile-128 {
  background: #ed450b;
}

.tile-256 {
  background: #2ecc48;
}

.tile-512 {
  background: #521750;
}

.tile-1024 {
  background: aqua;
}

.tile-2048 {
  background: brown;
}

.tile-4096 {
  background: magenta;
}

.tile-8192 {
  background: salmon;
}

.tile-16384 {
  background: orangered;
}

.tile-32768 {
  background: yellowgreen;
}

.tile-65536 {
  background: teal;
}

.tile-131072 {
  background: blueviolet;
}
/*# sourceMappingURL=style.css.map */