* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

$tagColor: rgb(146, 146, 146);
$white: #fff;

@mixin flex($jc:null, $ai:null, $dir:null) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $dir;
}

html, body {
    width: 100%;
    height: 100%;
}

.game-container {
    position: relative;
    // --topColor: #1b1b1b;
    // --gameBgColor: #444;
    // --tileCell: #373737;
    // --primCol: #000;
    --pad: #00ffbf;
    width: 100%;
    height: 100%;
    .top {
        // --display: none;
        width: 100%;
        height: 12%;
        background: var(--topColor);
        color: $white;
        @include flex(center, center);
        position: relative;

        .content-div {
            width: 90%;
            @include flex(space-between);
            .logo-div {
                @include flex(center, flex-start, column);
                width: 40%;
                .logo {
                    font: {
                        weight: 500;
                        size: 23px;
                    }
                    line-height: 25px;
                }
                .tag {
                    font: {
                        weight: 500;
                        size: 13px;
                    }
                    line-height: 10px;
                    color: $tagColor;

                    .pad {
                        color: var(--pad); // Random Colors
                    }
                }
            }

            .actions-div {
                width: 40%;
                @include flex(space-around, center);
            }
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 50px;
            display: var(--display);
        }
    }

    .game-body {
        width: 100%;
        height: 88%;
        background: var(--gameBgColor);

        .score-div {
            width: 100%;
            height: 17%;
            @include flex(flex-end, center);
            
            .score-cont {
                width: 100%;
                @include flex(center);
                .score-box {
                    border-radius: 5px;
                    // width: 80px;
                    padding: 0 10px;
                    margin: 0 5px;
                    height: 50px;
                    background: var(--primCol);
                    color: $white;
                    @include flex(center, center, column);

                    .sc-txt {
                        font: {
                            size: 10px;
                            weight: 400;
                        }
                    }

                    .sc-num {
                        font: {
                            size: 23px;
                            weight: 500;
                        }
                        line-height: 27px;
                    }
                }
            }
        }

        .tile-board-div {
            width: 100%;
            @include flex(center);
            
            .tile-board {
                // here get the screenWith
                // set screen size first
                --screenSize: 300px;
                // [[3,4],[5,6],[7,8],[9,10],[11,12]]
                // [6,5,4,3,2]
                // for each two grids, one gap
                --grid: 3;
                --padGap: 6px;
                // size of the cell divided by 2
                --font: 92px;
                width: var(--screenSize);
                height: var(--screenSize);
                background: var(--primCol);
                border-radius: 3px;
                display: grid;
                padding: var(--padGap);
                grid-template-columns: repeat(var(--grid), 1fr);
                grid-template-rows: repeat(var(--grid), 1fr);
                grid-gap: var(--padGap);

                .tile-cell {
                    width: 100%;
                    height: 100%;
                    background: var(--tileCell);
                    border-radius: 2px;
                    @include flex(center, center);
                    overflow: hidden;
                    
                    .tile {
                        width: 100%;
                        height: 100%;
                        @include flex(center, center);
                        font-size: calc(var(--font) / 2.5);
                        font-weight: bold;
                        color: $white;
                    }
                }
            }
        }
    }

    .modals {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 275px;
        height: 125px;
        background: $white;
        border-radius: 5px;
        @include flex(center, center, column);
        display: none;

        .modal-txt {
            font-size: 17px;
        }

        .modal-actions {
            margin-top: 10px;
            button {
                width: 100px;
                height: 35.5px;
                margin: 5px 0;
                border: 1px solid rgb(204, 201, 201);
                border-radius: 4px;
                background: #00575f;
                color: #fff;
                font-size: 13px;
                outline: none;
            }
        }
    }
}

.settings-div {
    @include flex(flex-start, center, column);
    display: none;
    .save-settings {
        width: 80px;
        height: 40px;
        margin: 5px 0;
        border: 1px solid rgb(204, 201, 201);
        border-radius: 4px;
        background: #00575f;
        color: #fff;
        font-size: 17px;
        outline: none;
    }
    .settings-panel {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    
        .panels {
            width: 100%;
            @include flex(flex-start, center, column);
            background: $white;
            padding-top: 10px;
            border-top: 1px solid rgb(204, 201, 201);
            
            .panel-name {
                @include flex(center, center);
                border-bottom: 1px solid rgb(204, 201, 201);
                width: 100%;
            }
    
            .size-option, .theme-option {
                width: 100%;
                @include flex();
                padding: 7px 10px;
                font-size: 15px;
    
                .check-box-size, .check-box-theme {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    border: 2px solid #000;
                    margin-right: 10px;
                    position: relative;
                }
            }
        }
    
        .theme {
            // background: #000;
            border-right: 1px solid rgb(204, 201, 201);
        }
    }
}

.size-option-selected, .theme-option-selected {
    &::before {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        background: #00575f;
        border-radius: 50%;

    }
}

    .tile-2 { background: #8c00da };
    .tile-4 { background: #ed124b };
    .tile-8 { background: #f28c0d };
    .tile-16 { background: #00950d };
    .tile-32 { background: #00575f };
    .tile-64 { background: #f60023 };
    .tile-128 { background: #ed450b };
    .tile-256 { background: #2ecc48 };
    .tile-512 { background: #521750 };
    .tile-1024 { background: #A50516};
    .tile-2048 { background: brown};
    .tile-4096 { background: magenta};
    .tile-8192 { background: salmon };
    .tile-16384 { background: orangered};
    .tile-32768 { background: yellowgreen};
    .tile-65536 { background: teal};
    .tile-131072 { background: blueviolet};