* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

$topColor: #1b1b1b;
$gameBgColor: #444;
$tagColor: rgb(146, 146, 146);
$tileCell: #373737;
$black: #000;
$white: #fff;

@mixin flex($jc:null, $ai:null, $dir:null) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $dir;
}

html, body {
    width: 100%;
    height: 100%;
}

.game-container {
    width: 100%;
    height: 100%;
    .top {
        width: 100%;
        height: 12%;
        background: $topColor;
        color: $white;
        @include flex(center, center);

        .content-div {
            width: 90%;
            @include flex(space-between);
            .logo-div {
                @include flex(center, flex-start, column);
                width: 40%;
                .logo {
                    font: {
                        weight: 500;
                        size: 23px;
                    }
                    line-height: 25px;
                }
                .tag {
                    font: {
                        weight: 500;
                        size: 13px;
                    }
                    line-height: 10px;
                    color: $tagColor;

                    .pad {
                        color: #00ffbf; // Random Colors
                    }
                }
            }

            .actions-div {
                width: 40%;
                @include flex(space-around, center);
            }
        }
    }

    .game-body {
        width: 100%;
        height: 88%;
        background: $gameBgColor;

        .score-div {
            width: 100%;
            height: 70px;
            @include flex(flex-end, center);
            
            .score-cont {
                width: 60%;
                @include flex(space-evenly);
                .score-box {
                    border-radius: 5px;
                    width: 80px;
                    height: 50px;
                    background: $black;
                    color: $white;
                    @include flex(center, center, column);

                    .sc-txt {
                        font: {
                            size: 10px;
                            weight: 700;
                        }
                    }

                    .sc-num {
                        font: {
                            size: 23px;
                        }
                        line-height: 27px;
                    }
                }
            }
        }

        .tile-board-div {
            width: 100%;
            @include flex(center);
            
            .tile-board {
                // [[3,4],[5,6],[7,8],[9,10],[11,12]]
                // [6,5,4,3,2]
                // for each two grids, one gap
                --grid: 12;
                --padGap: 2px;
                // size of the cell divided by 2
                --font: calc(22.83px / 2);
                width: 300px;
                height: 300px;
                background: $black;
                border-radius: 3px;
                display: grid;
                padding: var(--padGap);
                grid-template-columns: repeat(var(--grid), 1fr);
                grid-template-rows: repeat(var(--grid), 1fr);
                grid-gap: var(--padGap);

                .tile-cell {
                    width: 100%;
                    height: 100%;
                    background: $tileCell;
                    border-radius: 3px;
                    @include flex(center, center);
                    overflow: hidden;
                    
                    .tile {
                        width: 100%;
                        height: 100%;
                        @include flex(center, center);
                        background: purple;
                        font-size: var(--font);
                        font-weight: bold;
                        color: $white;
                    }
                }
            }
        }
    }
}